<form method="post" action="{{ path('hideaway_delete', {'id': hideaway.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimmer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hideaway.id) }}">
    <button class="btn btn-danger space_4">Supprimer</button>
</form>
