{% extends 'base.html.twig' %}

{% block title %}New Hideaway{% endblock %}

{% block body %}
    <h1>Création nouvelle Planque</h1>

    {{ include('hideaway/_form.html.twig') }}

    <a href="{{ path('hideaway_index') }}">Retour à la liste</a>
{% endblock %}
