{% extends 'base.html.twig' %}

{% block title %}Création nouvelle Planque{% endblock %}

{% block main %}
    
    {{ include('hideaway/_form.html.twig') }}

    <a href="{{ path('hideaway_index') }}">Retour à la liste</a>
{% endblock %}
