{% extends 'base.html.twig' %}

{% block title %}Nouvel Agent{% endblock %}

{% block body %}
    <h1>Créé un nouvel Agent</h1>

    {{ include('agent/_form.html.twig') }}

    <a href="{{ path('agent_index') }}">Retour à la liste</a>
{% endblock %}
