{% extends 'base.html.twig' %}

{% block title %}Edit Status{% endblock %}

{% block body %}
    <h1>Modifier un Statut</h1>

    {{ include('status/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('status_index') }}">Retour à la liste</a>

    {{ include('status/_delete_form.html.twig') }}
{% endblock %}
