{% extends 'base.html.twig' %}

{% block title %}Liste des Statuts{% endblock %}

{% block main %}
    
    <table class="table">
        <thead>
            <tr>                
                <th>Status_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>                
                <td>{{ status.statusName }}</td>
                <td>
                    <a href="{{ path('status_show', {'id': status.id}) }}">Voir</a>
                    <a href="{{ path('status_edit', {'id': status.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    

    {% if is_granted('ROLE_ADMIN') %}
             <a href="{{ path('status_new') }}">Création nouveau Statut</a>
    {% endif %}   

{% endblock %}
