{% extends 'base.html.twig' %}

{% block title %}New Status{% endblock %}

{% block body %}
    <h1>Création nouveau Statut</h1>

    {{ include('status/_form.html.twig') }}

    <a href="{{ path('status_index') }}">Retour à la liste</a>
{% endblock %}
