{% extends 'base.html.twig' %}

{% block title %}Création nouveau Statut{% endblock %}

{% block main %}
   
    {{ include('status/_form.html.twig') }}

    <a href="{{ path('status_index') }}">Retour à la liste</a>
{% endblock %}
