{% extends 'base.html.twig' %}

{% block title %}Edit TypeMission{% endblock %}

{% block body %}
    <h1>Modifier un type de Mission</h1>

    {{ include('type_mission/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('type_mission_index') }}">Retour à la liste</a>

    {{ include('type_mission/_delete_form.html.twig') }}
{% endblock %}
