{% extends 'base.html.twig' %}

{% block title %}Liste des types de Missions{% endblock %}

{% block main %}
    
    <table class="table">
        <thead>
            <tr>                
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_mission in type_missions %}
            <tr>                
                <td>{{ type_mission.typeMissionName }}</td>
                <td>
                    <a href="{{ path('type_mission_show', {'id': type_mission.id}) }}">Voir</a>
                    <a href="{{ path('type_mission_edit', {'id': type_mission.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
    {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path('type_mission_new') }}">Création nouveau Type de Mission</a>
    {% endif %}   

{% endblock %}
