{% extends 'base.html.twig' %}

{% block title %}Création nouveau type de Missions{% endblock %}

{% block main %}
   
    {{ include('type_mission/_form.html.twig') }}

    <a href="{{ path('type_mission_index') }}">Retour à la liste</a>
{% endblock %}
