{% extends 'base.html.twig' %}

{% block title %}New TypeMission{% endblock %}

{% block body %}
    <h1>Création nouveau  type de Missions</h1>

    {{ include('type_mission/_form.html.twig') }}

    <a href="{{ path('type_mission_index') }}">Retour à la liste</a>
{% endblock %}
