{% extends 'base.html.twig' %}

{% block title %}Type de Mission{% endblock %}

{% block main %}
  
    <table class="table">
        <tbody>            
            <tr>
                <th>Nom</th>
                <td>{{ type_mission.typeMissionName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_mission_index') }}">Retour à la liste</a>

    <a href="{{ path('type_mission_edit', {'id': type_mission.id}) }}">Modifier</a>

    {{ include('type_mission/_delete_form.html.twig') }}
{% endblock %}
