{% extends 'base.html.twig' %}

{% block title %}New Nationality{% endblock %}

{% block body %}
    <h1>Création nouvelle Nationalité</h1>

    {{ include('nationality/_form.html.twig') }}

    <a href="{{ path('nationality_index') }}">Retour à la liste</a>
{% endblock %}
