{% extends 'base.html.twig' %}

{% block title %}New Country{% endblock %}

{% block body %}
    <h1>Création nouveau Pays</h1>

    {{ include('country/_form.html.twig') }}

    <a href="{{ path('country_index') }}">Retour à la liste</a>
{% endblock %}
