{% extends 'base.html.twig' %}

{% block title %}Création nouveau Pays{% endblock %}

{% block main %}
    
    {{ include('country/_form.html.twig') }}

    <a href="{{ path('country_index') }}">Retour à la liste</a>
{% endblock %}
