<form method="post" action="{{ path('speciality_delete', {'id': speciality.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimmer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ speciality.id) }}">
    <button class="btn btn-danger space_4">Supprimer</button>
</form>
