{% extends 'base.html.twig' %}

{% block title %}Modifier une Spécialité{% endblock %}

{% block main %}
   
    {{ include('speciality/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('speciality_index') }}">Retour à la liste</a>

    {{ include('speciality/_delete_form.html.twig') }}
{% endblock %}
