{% extends 'base.html.twig' %}

{% block title %}Edit Speciality{% endblock %}

{% block body %}
    <h1>Modifier les Spécialités</h1>

    {{ include('speciality/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('speciality_index') }}">Retour à la liste</a>

    {{ include('speciality/_delete_form.html.twig') }}
{% endblock %}
