{% extends 'base.html.twig' %}

{% block title %}Création nouvelle Spécialité{% endblock %}

{% block main %}
    
    {{ include('speciality/_form.html.twig') }}

    <a href="{{ path('speciality_index') }}">Retour à la liste</a>
{% endblock %}
