{% extends 'base.html.twig' %}

{% block title %}New Speciality{% endblock %}

{% block body %}
    <h1>Ajouter une Spécialité</h1>

    {{ include('speciality/_form.html.twig') }}

    <a href="{{ path('speciality_index') }}">Retour à la liste</a>
{% endblock %}
