{% extends 'base.html.twig' %}

{% block title %}Speciality{% endblock %}

{% block body %}
    <h1>Specialité</h1>

    <table class="table">
        <tbody>           
            <tr>
                <th>Speciality_name</th>
                <td>{{ speciality.specialityName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('speciality_index') }}">Retour à la liste</a>

    <a href="{{ path('speciality_edit', {'id': speciality.id}) }}">Modifier</a>

    {{ include('speciality/_delete_form.html.twig') }}
{% endblock %}
