
{% extends 'base.html.twig' %}

 {% block main %}     

    <div class="container-fluid text2">

        <div class="h4 text-center ">
                    Vous êtes loggé sous {{ app.user.username }} en tant que administrateur   
                    <div class="fill img2" style="background-image:url('{{asset('assets/images/image02.jpg')}}')"></div>                                  
        </div>   
           
    </div>   
               
  {% endblock  %}


