{% extends 'base.html.twig' %}

{% block title %}Edit Mission{% endblock %}

{% block body %}
    <h1>Modifier une Mission</h1>

    {{ include('mission/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('mission_index') }}">Retour à la liste</a>

    {{ include('mission/_delete_form.html.twig') }}
{% endblock %}
