{% extends 'base.html.twig' %}

{% block title %}Création nouvelle Mission{% endblock %}

{% block main %}

    <div class="row space_3">

            <div class="col-4"></div>           

            <div class="col-4">  
                {{ include('mission/_form.html.twig') }}
                <a href="{{ path('mission_index') }}">Retour à la liste</a>
            </div>   
            
    </div>    
{% endblock %}
