
.text1{
  font-size: 2.5em;    
}

.text2{
  margin-top : -90px ; 
}

.space_3 {
  margin-bottom: 2em ;      
}


.space_4 {
  margin: 1em 0 ;      
}



.img1{
  margin-top : -90px ;
  width: 1500px;
  height:740px; 
  background-size: cover;
}

.img2{
  margin-top : 20px ;
  width: 1500px;
  height:740px; 
  background-size: cover;
}










  

 


  


  