{% extends 'base.html.twig' %}

{% block title %}Creation nouveau Contact{% endblock %}

{% block main %}
    
    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('contact_index') }}">Retour à la liste</a>
{% endblock %}
