<form method="post" action="{{ path('target_delete', {'id': target.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimmer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ target.id) }}">
    <button class="btn btn-danger space_4">Supprimer</button>
</form>
