{% extends 'base.html.twig' %}

{% block title %}Edit Target{% endblock %}

{% block body %}
    <h1>Modifier une Cible</h1>

    {{ include('target/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('target_index') }}">Retour à la liste</a>

    {{ include('target/_delete_form.html.twig') }}
{% endblock %}
