{% extends 'base.html.twig' %}

{% block title %}Création nouvelle Cible{% endblock %}

{% block main %}

 <div class="row">

    <div class="col-4"></div>           

    <div class="col-4">   

        {{ include('target/_form.html.twig') }}

        <a href="{{ path('target_index') }}">Retour à la liste</a>

     </div>
 </div>

{% endblock %}
