{% extends 'base.html.twig' %}

{% block title %}Création nouvelle Cible{% endblock %}

{% block main %}

    {{ include('target/_form.html.twig') }}

    <a href="{{ path('target_index') }}">Retour à la liste</a>
{% endblock %}
