<form method="post" action="{{ path('type_hideaway_delete', {'id': type_hideaway.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimmer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_hideaway.id) }}">
    <button class="btn btn-danger space_4">Supprimer</button>
</form>
