{% extends 'base.html.twig' %}

{% block title %}New TypeHideaway{% endblock %}

{% block body %}
    <h1>Création nouveau type de Planque</h1>

    {{ include('type_hideaway/_form.html.twig') }}

    <a href="{{ path('type_hideaway_index') }}">Retour à la liste</a>
{% endblock %}
