{% extends 'base.html.twig' %}

{% block title %}Création nouveau type de Planque{% endblock %}

{% block main %}

    {{ include('type_hideaway/_form.html.twig') }}

    <a href="{{ path('type_hideaway_index') }}">Retour à la liste</a>
{% endblock %}
